/* Add a tab */
.addtabButton{
    margin-right: 10px;
    margin-left: 10px;
}

/* TabList */
.tabClass{
    margin-right: 10px;
    margin-left: 10px;
    display: inline-block;
}

.selectTabButyon {

}

.closeTabButton {

}
