/* TabList */
.tabClass{
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
    display: inline-block;
}

.selectTabButton {

}

.closeTabButton {

}

/* Tab operations */
.tabOperation{
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
    width: 200px;
    display: inline-block;
}
